.background {
    background-color: #ADCAD6;
    margin: -24px 0 -24px 0;
    padding: 24px 0 24px 0;
}
a{
    margin: 16px;
    padding: 16px;
    text-align: right;
    color: #f2f2f2;
    font-size: 20px;
    border-radius: 12px;
    font-weight: 600;
}
#navBar a:hover {
    color: black;
}

#navBar{
    overflow: hidden;
    padding: 40px;
}
#bgimg{
    background-image: url(https://t4.ftcdn.net/jpg/03/01/59/71/240_F_301597103_xQNdJ1F2eKcVox3XAQ3ZZRiFvpKjtiPh.jpg);
    min-height: 40px;
    background-size: cover;
    background-repeat: no-repeat; 
    position: relative;
} 
#container {
    text-align: right;
}

.contact {
    padding: 24px 0 40vh 0;
    background-color: #ADCAD6;
}

h1 {
    text-align: center;
}

#textCard {
    width: 50%;
    padding: 20px;
    margin: auto;
    display: block;
    border: 4px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    
}
.inputfield {
    font-size: 20px;
}

#subject {
    height:80px;
    width: 300px;
}
.contactForm {
    padding: 8px;
    font-size: 20px;
}

#footerDiv {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: #f2f2f2;
}

#resumepic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-bottom: 100px;
}

#note {
    text-align: right;
    padding-right: 12px;
}

#formbtn {
    margin: 4px;
    padding: 4px 8px;
    font-size: 20px;
    border-radius: 4px;
}

#aboutPage {
    display: table;
    font-size: 20px;
}

#myPic {
    float: left;
    height: auto;
    margin-top: -80px;
}